extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let desertid = toShow._id
    - let desert_type = toShow.desert_type
    - let desertprice = toShow.price
    - let desertquantity = toShow.quantity
    - let actionid = "/resource/desert/" + desertid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='desertAttr mr-3') desert ID is:
        div #{desertid}
      div.row
        div(class='desertAttr mr-3') desert Type is:
        div #{desert_type}
      div.row
        div(class='desertAttr mr-3') desert Price is:
        div #{desertprice}
      div.row
        div(class='desertAttr mr-3') desert Quantity is:
        div #{desertquantity}
      
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the desert collection
        window.location.href='/desert'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/desert'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }