extends layout

block content
  h1= title
  - let deserts = [{ name: "CheeseCake", price: 650, quantity: 50 },{ name: "Thiramisu", price: 500, quantity: 10 },{ name: "GulabJamun", price: 170, quantity: 10 }]
    div(class="container-fluid")
        div(class="row m-1")
        each value in results
            - let destination = `dispatch("/desert/update?id=${value._id}")`
            div(class="row-sm-2 m-1") #{value.name} Desert, cost #{value.price}, quantity #{value.quantity}
            button.btn(class="btn-primary ml-1", onclick=destination) Update
        script.
            function dispatch(path) {
            window.location.href = path
            }
