extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let desertid = toShow._id
    - let desert_type = toShow.desert_type
    - let desertprice = toShow.price
    - let desertquantity = toShow.quantity
    div.row(class='mb-2')
      div.mr-1 desert ID is
        div #{desertid}
    - let actionid = "/resource/desert/" + desertid
    form(id='desertForm', action=actionid, method="PUT")
      div.form-group
        label.desertAttr(for='desert_type') desert type
        input#desert_type(type='text', name='desert_type', value=desert_type)
      div.form-group
        label.desertAttr(for='price') desert price
        input#price(type='number', name='price', value=desertprice)
      div.form-group
        label.desertAttr(for='quantity') desert cost
        input#quantity(type='number', name='quantity', value=desertquantity)
      input(type="submit")
    script.
      document.forms['desertForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO: handle body
        }).catch((error) => {
          // TODO: handle error
          alert("Update failed " + error);
        });
      });
      